body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
                url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(4px);
    pointer-events: none;
    z-index: 0;
}

#login-page, #home-page {
    position: relative;
    z-index: 1;
}

#login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: rgba(28, 28, 28, 0.9);
    padding: 40px 30px;
    border-radius: 20px;
    width: 320px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
    animation: fadeIn 0.6s ease;
    transition: 0.3s;
}

.login-card:hover {
    transform: translateY(-5px);
}


.login-card h1 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
}

.login-card h1 span {
    color: #ff416c;
}


.login-card input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background: #2a2a2a;
    color: white;
    outline: none;
}

.login-card input:focus {
    border: 1px solid #ff416c;
}


.login-card button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(255, 65, 108, 0.4);
}

.login-card button:hover {
    transform: scale(1.05);
}

span {
    color: #ff416c;
    cursor: pointer;
    font-weight: bold;
}

.hidden {
    display: none;
}

#home-page {
    display: none;
    min-height: 100vh;
    padding: 40px 20px;
    text-align: center;
}

#welcome-container {
    margin-bottom: 20px;
    min-height: 50px;
}

#welcome-text {
    display: inline-block;

    font-size: 40px;
    font-weight: bold;

    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

#welcome-text span {
    color: #ff416c;
}

#mood-question {
    margin-top: 20px;
    color: #ccc;
}

#mood-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
}

#mood-container button {
    padding: 10px 16px;
    border: none;
    border-radius: 25px;
    background: #1f1f1f;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#mood-container button:hover {
    background: #ff416c;
    transform: scale(1.1);
}

#mood-container button.active {
    background: #ff416c;
}

#search-bar {
    margin-top: 20px;
    padding: 12px 20px;
    width: 300px;
    max-width: 80%;
    border-radius: 25px;
    border: none;
    outline: none;
    background: #1f1f1f;
    color: white;
    font-size: 16px;
}

#movie-container {
    max-width: 1200px;
    margin: 30px auto 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.movie img {
    width: 100%;
    border-radius: 12px;
    transition: 0.3s;
}

.movie img:hover {
    transform: scale(1.05);
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}
.popup-content {
    background: #1c1c1c;
    padding: 15px;
    border-radius: 15px;

    width: 350px;
    max-height: 80vh;
    overflow-y: auto;

    text-align: center;
    position: relative;

    animation: popupFade 0.3s ease;
}

@keyframes popupFade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popup-content img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 10px;
}
#close-popup:hover {
    color: #ff416c;
}
#close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}
.hidden {
    display: none;
}